# Configuração de Banco de Dados
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/rag
PG_VECTOR_COLLECTION_NAME=pdf_documents

# Configurações do Arquivo
PDF_PATH=document.pdf

# Provedor Google Gemini (Fallback)
GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_LLM_MODEL=gemini-1.5-flash
GOOGLE_EMBEDDING_MODEL=gemini-embedding-001

# Provedor OpenAI (Prioridade se a chave for fornecida)
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_LLM_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
